<p>Now: {{ now | date('Y-m-d H:i:s') }}</p>
<p>
    Executing: {% if executing is not empty %}{{ executing.taskId }} {{ executing.at | date('Y-m-d H:i:s') }}{% else %}n/a{% endif %}</p>

<table>
    <thead>
    <tr>
        <th>Command</th>
        <th>Scheduled at</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            {#<td>{{ dump(task) }}</td>#}
            <td>{{ task.id }}</td>
            <td>{{ task.at | mongoDate | date('Y-m-d H:i:s') }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
<table>
    <thead>
    <tr>
        <th>Command</th>
        <th>Scheduled at</th>
    </tr>
    </thead>
    <tbody>
    {% for task in ready %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.at | mongoDate | date('Y-m-d H:i:s') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

