{% extends "::fixed.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-md-12"><h1>Scheduled Tasks</h1></div>
        <div class="col-md-2">
            <h4>Total</h4>

            <p><span class="huge">{{ tasks.all }}</span></p>
        </div>
        <div class="col-md-2">
            <h4>Ready</h4>

            <p><span class="huge">{{ tasks.ready }}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Next task</h4>
            {% if peeked is not empty %}
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th class="col-md-2">At</th>
                        <th class="col-md-2">ID</th>
                        <th>Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ peeked.at | date('Y-m-d H:i:s') }}</td>
                        <td><code>{{ peeked.taskId }}</code></td>
                        <td><code>{{ peeked.data | json_encode }}</code></td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <p>Queue empty</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
